In [2]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('https://github.com/codebasics/deep-learning-keras-tf-tutorial/blob/0981fe55db7a7abf19ff1d852d9a59153289641e/6_gradient_descent/insurance_data.csv?raw=true')

df.head()

   age  affordibility  bought_insurance
0   22              1                 0
1   25              0                 0
2   47              1                 1
3   52              0                 0
4   46              1                 1

In [4]:
from sklearn.model_selection import train_test_split

X = df.drop(['bought_insurance'], axis=1)
y = df.bought_insurance

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state =10)

In [6]:
X_train_scaled = X_train.copy()
X_train_scaled.age = X_train.age / 100
X_train_scaled['affordibility'] = X_train.affordibility / 100

In [7]:
X_test_scaled = X_test.copy()
X_test_scaled.age = X_test.age / 100
X_test_scaled['affordibility'] = X_test.affordibility / 100

In [8]:
X_train_scaled.head()

     age  affordibility
11  0.28           0.01
12  0.27           0.00
1   0.25           0.00
22  0.40           0.01
25  0.54           0.01

In [9]:
model = keras.Sequential([
  keras.layers.Dense(1, input_shape=(2,), activation='sigmoid', kernel_initializer='ones', bias_initializer='zeros' )
])

model.compile(
    optimizer='adam',
    loss='binary_crossentropy',
    metrics=['accuracy']
)

In [ ]:
model.fit(X_train_scaled, y_train, epochs=5000)

In [11]:
model.evaluate(X_test_scaled, y_test)

1/1 [==============================] - 0s 247ms/step - loss: 0.3349 - accuracy: 1.0000

[0.3348811864852905, 1.0]

In [12]:
coef, intercept = model.get_weights()
coef, intercept

(array([[6.285059],
        [6.519913]], dtype=float32), array([-2.5567553], dtype=float32))

Custom-Making a neural network:

In [13]:
def sigmoid(x):
  import math
  return 1 / (1 + math.exp(-x))

In [14]:
def prediction_function(age, affordability):
  weighted_sum = coef[0]*age + coef[1]*affordability + intercept
  return sigmoid(weighted_sum)

In [19]:
prediction_function(0.49, 0)

0.6278311724814246